{% extends 'base.html.twig' %}

{% block title %}Hello index page!{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container">
        <p>This is a random text just to fill the homepage</p>
        <p>Connect for all features</p>
        {% if(app.user) %}
            <p>Features unlocked, navigate as you please</p>
            <p>This is the index page. <a href="{{ path('app_products') }}">Go to product list</a></p>
            <p>Go to : <a href="{{ path('app_products_new') }}">Create product</a></p>
            <hr>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
