{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="products-parent">

</div>
    <script src="{{ asset('js/productsJson.js') }}" type="application/javascript"></script>
{% endblock %}
