{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="products-parent">
        <script src="{{ asset('js/productsJson.js') }}" type="application/javascript"></script>
    </div>
{% endblock %}

